<?php
/** @var $orders array */
$orders = $this->orders;
?>

<header>
    <h1>Orders</h1>
</header>

<?php if(count($orders) > 0) { ?>
    <table class="orders-list">
        <thead>
            <tr>
                <th>Product</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Date</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($orders as $order) { ?>
                <tr>
                    <td><?php echo htmlspecialchars($order['product_name']); ?></td>
                    <td><?php echo htmlspecialchars($order['amount']); ?></td>
                    <td><?php $money = new Lib_Money($order['price']); echo htmlspecialchars($money->toDecimal()); ?></td>
                    <td><?php echo htmlspecialchars($order['date_created']); ?></td>
                    <td>
                        <a href="<?php echo htmlspecialchars('/block/unblock?block_id='.$order['block_id']); ?>">[Delete]</a>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
<?php }else{ ?>
    <p>There is no products in your cart!</p>
<?php } ?>

<?php if($this->loadedFromMemcached) { ?>
    <em style="color:blue;">Results loaded from memcached</em>
<?php } ?>