<?php
/** @var $product Application_Model_Db_Product_Row */
$product = $this->product;

if(!($product instanceof Application_Model_Db_Product_Row)) {
    throw new \Exception("Invalid product");
}
?>

<section class="product product-detailed">
    <header>
        <h1><?php echo htmlspecialchars($product->name); ?></h1>
    </header>
    <p><?php echo nl2br(htmlspecialchars($product->description)); ?></p>
    <dl class="params">
        <dt>Amount</dt>
        <dd><?php echo $product->getActualAmount(); ?></dd>
        <dt>Price</dt>
        <dd><?php echo $product->getPriceAsDecimal() ?></dd>
    </dl>
    <?php if($this->showBlockToolbar) { echo $this->partial('products/partials/item_block_toolbar.phtml', array(
        'product' => $product
    )); } ?>
</section>