<?php
/** @var $product Application_Model_Db_Product_Row */
$product = $this->product;

if(!($product instanceof Application_Model_Db_Product_Row)) {
    throw new \Exception("Invalid product");
}
?>

<section class="product-block-toolbar">
    <form action="/block/block" method="post">
        <input type="hidden" name="product_id" value="<?php echo $product->id; ?>"/>
        <input type="text" name="request_amount" placeholder="<amount>" value="1"/>
        <input type="submit" value="Add to cart">
    </form>
</section>