<?php
/** @var $products Zend_Db_Table_Rowset_Abstract */
$products = $this->products;
/** @var $paginator Zend_Paginator */
$paginator = $this->paginator;

$printNavigator = function(Zend_Paginator $paginator, $currentPage) {
    if($currentPage == 0) {
        $currentPage = 1;
    }

    foreach ($paginator as $page) {
        if($page == $currentPage) {
            echo '[',$page,']';
        }else{
            echo <<<HTML
                <a href="/products/?page={$page}">[{$page}]</a>
HTML;
        }
    }
}
?>

<?php if(count($products) == 0) { ?>
    There is no products in the stock
<?php }else{ ?>
    <nav class="pagination">
        <ul>
            <?php $printNavigator($paginator, $this->page); ?>
        </ul>
    </nav>

    <ul class="products-list">
        <?php foreach($products as $product) { /** @var $product Application_Model_Db_Product_Row */ ?>
            <li><?php echo $this->partial('products/partials/item_overview.phtml', array(
                    'product' => $product,
                    'showBlockToolbar' => $this->showBlockToolbar
                )); ?></li>
        <?php } ?>
    </ul>

    <nav class="pagination">
        <ul>
            <?php $printNavigator($paginator, $this->page); ?>
        </ul>
    </nav>
<?php } ?>