<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <header>
        <h1>Shop</h1>
    </header>

    <nav>
        Current OrderID: <?php
        /** @var $orderService Application_Model_Order_Service */
        $orderService = Zend_Registry::get('orders');
        $ordersCount = null;

        if($orderService->getSession()->hasOrderId()) {
            echo $orderService->getSession()->getCurrentOrderId();
            $ordersCount = $orderService->getCurrentOrdersListCount();
        }else{
            echo '[not assigned]';
        }
        ?>

        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/orders">Orders<?php if(!(is_null($ordersCount))) echo '(',$ordersCount,')'; ?></a></li>
        </ul>
    </nav>

    <?php echo $this->layout()->content; ?>
</body>
</html>