<p>
    <?php if($this->success) { ?>
        Product successfully added to your cart
    <?php }else{ ?>
        <span style="color:red">Error: <?php echo htmlspecialchars($this->error); ?></span>
    <?php } ?>
</p>

<p><a href="/products">Back to the products</a></p>