<header>
    <h1>Products</h1>
</header>

<section class="products">
    <?php echo $this->partial('products/partials/list.phtml', array(
        'page' => $this->page,
        'products' => $this->products,
        'paginator' => $this->paginator,
        'showBlockToolbar' => true
    )); ?>
</section>